<div class="row">
    <div class="col-md-12">
        <h4>Ficha técnica equipe</h4>
        <grid-edit ng-model="fichaInscricao.fichaTecnicaEquipe"
                   form="formFichaTecnicaEquipe"
                   options="opcoesFichaTecnicaEquipe"
                   template-url="App/views/inscricao/FichasTecnicas.html"></grid-edit>

        <h4>Ficha técnica convidados</h4>
        <grid-edit ng-model="fichaInscricao.fichaTecnicaConvidados"
                   form="formFichaTecnicaConvidado"
                   options="opcoesFichaTecnicaConvidados"
                   template-url="App/views/inscricao/FichasTecnicas.html"></grid-edit>
    </div>
</div>