<div class="well">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table st-table="listaExibida" st-safe-src="lista" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="novo()" ng-disabled="!formCollapsed">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                                </button>
                            </th>
                            <th st-sort="nome">Nome completo</th>
                            <th st-sort="funcao">Função</th>
                            <th st-sort="curriculo">Currículo</th>
                            <th st-sort="carta">Carta de aceite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listaExibida">
                            <td class="acoes">
                                <div class="row">
                                    <ul class="list-inline">
                                        <li>
                                            <a ng-click="edite(item);" uib-tooltip="Editar">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="exclua(item);" uib-tooltip="Excluir">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td class="text-left">{{item.nome}}</td>
                            <td class="text-center">{{item.funcao}}</td>
                            <td>
                                <file-upload ng-model="item.curriculo"
                                             extensao="pdf"
                                             accept=".pdf, application/pdf"
                                             download-fn="options.getCurriculo"
                                             read-only="true"
                                             grid-view="true">
                                </file-upload>
                            </td>
                            <td>
                                <file-upload ng-model="item.cartaAceite"
                                             extensao="pdf"
                                             accept=".pdf, application/pdf"
                                             download-fn="options.getCarta"
                                             read-only="true"
                                             grid-view="true">
                                </file-upload>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <div st-pagination st-items-by-page="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div uib-collapse="formCollapsed">
        <ng-form name="{{form}}" novalidade>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6" show-errors>
                            <label for="nome" class="control-label">Nome completo (100 caracteres)</label>
                            <input id="nome" name="nome" type="text" class="form-control" ng-model="item.nome"
                                   maxlength="100"
                                   required>
                            <span class="label label-info">{{item.nome.length || 0}} de 100 caracteres</span>
                        </div>
                        <div class="form-group col-md-6" show-errors>
                            <label for="funcao" class="control-label">Função (100 caracteres)</label>
                            <input id="funcao" name="funcao" type="text" class="form-control" ng-model="item.funcao"
                                   maxlength="100"
                                   required>
                            <span class="label label-info">{{item.funcao.length || 0}} de 100 caracteres</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 form-group">
                            <file-upload ng-model="item.curriculo"
                                         label="Currículo"
                                         nome="{{(options.nomeArquivoCurriculo + ' - ' + item.nome).substring(0, 50)}}"
                                         extensao="pdf"
                                         accept=".pdf, application/pdf"
                                         download-fn="options.getCurriculo"
                                         background="true">
                            </file-upload>
                        </div>
                        <div class="col-md-6 col-lg-4 form-group">
                            <file-upload ng-model="item.cartaAceite"
                                         label="Carta de aceite"
                                         nome="{{(options.nomeArquivoCartaDeAceite + ' - ' + item.nome).substring(0, 50)}}"
                                         extensao="pdf"
                                         accept=".pdf, application/pdf"
                                         download-fn="options.getCarta"
                                         background="true">
                            </file-upload>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" ng-click="salve(item)">Salvar</button>
                    <button type="button" class="btn btn-success" ng-click="cancele()">Cancelar</button>
                </div>
            </div>
        </ng-form>
    </div>
</div>