<div class="modal-header">
    <h3 class="modal-title">
        <strong>ATENÇÃO</strong>
    </h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                <strong>
                    &nbsp;ATENÇÃO&nbsp;
                </strong>
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Ao enviar a ficha de inscrição do projeto não será mais possível editá-la ou fazer qualquer ajuste.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Caso deseje realmente enviar a ficha de inscrição então clique em "EU QUERO ENVIAR" ou, caso contrário, clique
                em "NÃO ENVIAR AINDA" e depois clique em "Salvar" para apenas salvar as informações de sua ficha de inscrição.
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">EU QUERO ENVIAR</button>
    <button class="btn btn-primary" ng-click="cancel()">NÃO ENVIAR AINDA</button>
</div>