<div class="modal-header"><h3 class="modal-title"><strong>ATENÇÃO</strong></h3></div>
<div class="modal-body">
    <p>
        Ao salvar a ficha de inscrição do projeto todos os dados serão salvos normalmente. Porém, para <strong>efetivar</strong> a inscrição,
        é necessário que, dentro do período da <u>fase de inscrição</u>, a ficha de inscrição seja <strong>enviada</strong> pelo botão <u>Enviar</u>.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Continuar</button>
</div>