<div class="row" ng-init="inicialize()">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Segmentos</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="table-responsive">
                        <table st-table="editaisExibidos" st-safe-src="editais" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <button type="button" class="btn btn-primary btn-xs" ng-click="nova()">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                                        </button>
                                    </th>
                                    <th st-sort="descricao">Descrição</th>
                                    <th st-sort="segmentoProprioFicha">Texto livre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="segmento in segmentos">
                                    <td class="acoes">
                                        <div class="row">
                                            <ul class="list-inline">
                                                <li>
                                                    <a ng-href="#!/segmento/{{segmento.id}}" uib-tooltip="Editar">
                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a ng-click="exclua(segmento.id)" uib-tooltip="Excluir">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="text-left">{{segmento.descricao}}</td>
                                    <td class="text-center">{{segmento.segmentoProprioFicha ? 'Sim' : 'Não'}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div st-pagination st-items-by-page="10"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <a ng-href="#!/edital/" class="btn btn-primary" aria-label="Left Align">Voltar</a>
    </div>
</div>