<div class="row" ng-init="inicialize()">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Prestação de Contas</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <ng-form name="formPrincipal" novalidate>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Identificador</th>
                                            <th>Título</th>
                                            <th>Data de criação</th>
                                            <th>Arquivo</th>
                                            <th>Observação</th>
                                            <th>Avaliação</th>
                                            <th>Aceito</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="documento in documentosParaAprovacao">
                                            <td>{{documento.id}}</td>
                                            <td>{{documento.titulo}}</td>
                                            <td>{{documento.dataDeCriacao}}</td>
                                            <td>
                                                <file-upload ng-model="documento" ng-hide="documento.tamanho < 0.0001"
                                                             extensao="pdf"
                                                             accept=".pdf, application/pdf"
                                                             download-fn="downloadDocumento"
                                                             read-only="true"
                                                             grid-view="true">
                                                </file-upload>
                                            </td>
                                            <td><textarea rows="8" class="col-md-12" ng-model="documento.solicitacao" readonly /> </td>
                                            <td><textarea rows="8" class="col-md-12" ng-model="documento.observacao" /> </td>
                                            <td>
                                                <span class="glyphicon glyphicon-ok" style="cursor:pointer" ng-click="aceite(documento.id, documento.observacao)" ng-style="{'color': documento.avaliado && documento.aceito ? 'green' : 'black'}"></span>  
                                                <span class="glyphicon glyphicon-remove" style="cursor:pointer" ng-click="recuse(documento.id, documento.observacao)" ng-style="{'color': documento.avaliado && !documento.aceito ? 'red' : 'black'}"></span>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <a ng-href="#!/prestacaoContasAprovacao/" class="btn btn-primary" aria-label="Left Align">Voltar</a>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</div>