<div class="row">
    <div class="col-md-12">
        <label>{{label}}</label>
        <div class="table-responsive">
            <table st-table="listaExibida" st-safe-src="lista" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <button type="button" class="btn btn-primary btn-xs" ng-click="novo()" ng-disabled="!formCollapsed">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo
                            </button>
                        </th>
                        <th st-sort="descricao">Descrição</th>
                        <th st-sort="dataInicio">Data início</th>
                        <th st-sort="dataFim">Data fim</th>
                        <th st-sort="tipo">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in listaExibida">
                        <td class="acoes">
                            <div class="row">
                                <ul class="list-inline">
                                    <li>
                                        <a ng-click="edite(item);" uib-tooltip="Editar">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                    <li ng-hide="options.editalPossuiFichasVinculadas">
                                        <a ng-click="exclua(item);" uib-tooltip="Excluir">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-left">{{item.descricao}}</td>
                        <td>{{item.dataInicio}}</td>
                        <td>{{item.dataFim}}</td>
                        <td>{{item.tipo.descricao}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div st-pagination st-items-by-page="4"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div uib-collapse="formCollapsed">
    <ng-form name="{{form}}" novalidate>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <label for="descricaoFase" class="control-label">Descrição</label>
                            <input id="descricaoFase" name="descricaoFase" type="text" class="form-control" ng-model="item.descricao" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" show-errors>
                            <label for="dataInicioFase" class="control-label">Data início</label>
                            <input id="dataInicioFase" name="dataInicioFase" type="text" class="form-control" ng-model="item.dataInicio" mask="00/00/0000" mask-clean="false" placeholder="Ex.: 07/12/2016" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" show-errors>
                            <label for="dataFimFase" class="control-label">Data fim</label>
                            <input id="dataFimFase" name="dataFimFase" type="text" class="form-control" ng-model="item.dataFim" mask="00/00/0000" mask-clean="false" placeholder="Ex.: 14/12/2016" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <grid-edit ng-model="item.roles" form="formRoles" label="Perfis" options="{ roles: options.roles }" template-url="App/views/edital/Roles.html"></grid-edit>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" show-errors>
                            <label for="tipo" class="control-label">Tipo</label>
                            <select id="tipo" name="tipo" class="form-control" ng-model="item.tipo" ng-options="tipo.descricao for tipo in options.tiposFase track by tipo.id" required>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" ng-click="salve(item)">Salvar</button>
                <button type="button" class="btn btn-success" ng-click="cancele()">Cancelar</button>
            </div>
        </div>
    </ng-form>
</div>